# macOS General
.DS_Store
.AppleDouble
.LSOverride

# Book build output
_book/
book/

# eBook build output
*.epub
*.mobi
*.pdf

# drafts
computer/internet/stw-bonn-de.md

# hugo
.hugo_build.lock
/public/
draft/
/content/drafts/
migration/
_gen/
exampleSite/
