:root {
  --color-visited-link: #6800b8;
}

mark {
  background: #ffa;
}

.container {
  max-width: unset;
}

.book-menu {
  /* flex: 0 0 18rem; */
}

.book-menu .book-menu-content {
  border-right: 1px solid rgb(227, 232, 237);
  /* width: 18rem; */
}

.book-menu .book-menu-content .book-search {
  border-bottom: 1px solid rgb(227, 232, 237);
}


.book-toc .book-toc-content {
  border-left: 1px solid rgb(227, 232, 237);
}

@media screen and (min-width: 80rem) {
  .book-page,
  .book-menu .book-menu-content,
  .book-toc .book-toc-content {
    padding: 2rem;
  }
}

@media screen and (max-width: 56rem) {
  .book-menu {
    /* margin-inline-start: -18rem; */
  }

  #menu-control:checked~main .book-menu .book-menu-content {
    /* transform: translateX(18rem); */
  }

  .book-toc {
    display: unset;
    visibility: hidden;
    margin-inline-start: -16rem;
    z-index: 1;
  }

  #toc-control:checked~.book-toc {
    visibility: initial;
  }
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: 700;
}

/* footnote */

.footnote-ref {
  border: 1px solid;
  border-radius: .2rem;
  padding: 0 .2rem;
}

.footnote-ref:hover,
.footnote-ref:focus  {
  border-color: var(--color-link);
  background-color: var(--color-link);
  color: var(--body-background);
}

.footnote-ref:hover a,
.footnote-ref:focus a {
  text-decoration: none;
}

.footnote-ref:hover:visited,
.footnote-ref:focus:visited {
  border-color: var(--color-visited-link);
  background-color: var(--color-visited-link);
  color: var(--body-background);
}

/* highlight */

.highlight>.chroma {
  max-height: 256px;
  overflow: auto;
}

.highlight>.chroma>.lntable {
  overflow: visible;
}

/* Something for GitHub embed mode ?? */

.gist table tr td {
  border: none;
}

.gist .blob-wrapper table tr:hover {
  background-color: var(--gray-100) !important;
}

.gist .blob-num:hover {
  color: var(--color-fg-subtle) !important;
}

/* table */
/* does not work well with overflow scroll */

/* 

.markdown table {
  overflow: visible;
}

.markdown table tr th{
  background-color: var(--body-background);
  border: 2px;
  position: sticky;
  top: 0;
}

 */
