.prominent-decorated-file {
  margin: auto;
  margin-inline-end: 0;
}

.prominent-decorated-file svg {
  fill: IndianRed;
  height: var(--icon-s);
  width: var(--icon-s);
}

.view-action.mod-bookmark {
  --icon-color: IndianRed;
  --icon-color-hover: IndianRed;
}
