/* iAWriter-ish style. */
.cursorWrapper .x-cursor {
  background: var(--indicator-color, var(--interactive-accent));
  width: 3px;
  left: -1px;
  top: calc(-5px - var(--header-height));
  height: calc(10px + var(--cursor-height));
  transition: opacity;
}
/* The cursor colour in a light theme */
.theme-light .x-cursor {
  background: var(--indicator-color, var(--interactive-accent));
}
/*The cursor colour in a dark theme */
.theme-dark .x-cursor {
  /* replace if you want purple cursor
  background: rgba(225,187, 225, 1); */
  background: var(--indicator-color, var(--interactive-accent));
}

/* remove normal cursor when ninjacursor is installed.
Alternative method: caret-color: rgba(0, 0, 0, 1);
*/
body:has(.x-cursor) .cm-editor * {
  caret-color: transparent;
}

/* Disable movement effect */
.cursorWrapper .x-cursor::after {
  display: none;
}

/* Remove normal cursor on text selection */
.cm-cursorLayer {
  animation: none !important;
  visibility: hidden !important;
}

/* Blinking */
.cursorWrapper .x-cursor0 {
  animation: blink0 1s 1s both infinite;
}
.cursorWrapper .x-cursor1 {
  animation: blink1 1s 1s both infinite;
}

/* Changed the numbers so that it never blinks */
@keyframes blink1 {
  0%   { opacity: 1; }
  45%  { opacity: 1; }
  50%  { opacity: 1; }
  95%  { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes blink0 {
  0%   { opacity: 1; }
  45%  { opacity: 1; }
  50%  { opacity: 1; }
  95%  { opacity: 1; }
  100% { opacity: 1; }
}
